---
const { file, style, className, viewModeEnabled = "false" } = Astro.props;
---

<style is:inline>
  .container {
    max-width: 100%;
    max-height: 50vh;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
</style>

<div class={"container " + className + " " + file} style={style}>
  <div id={"app"}></div>
</div>

<script defer src="/assets/cdn/react.development.js"></script>
<script defer src="/assets/cdn/react-dom.development.js"></script>

<script defer type="text/javascript" src="/assets/cdn/excalidraw.development.js"
></script>

<script is:inline defer define:vars={{ file, viewModeEnabled }}>
  document.addEventListener("DOMContentLoaded", () => {
    let resFile = file || localStorage.getItem("excalidraw") || "ffmpeg";

    fetch(`/assets/excalidraw/${resFile}.json`).then(res => {
      res.json().then(data => {
        const { convertToExcalidrawElements, Excalidraw, loadLibraryFromBlob } =
          ExcalidrawLib;
        if (!data.elements) return;
        const elements = convertToExcalidrawElements(
          data.elements.filter(item => !item.isDeleted)
        );
        initApp(elements, Excalidraw, data);
      });
    });

    const initApp = (elements, Excalidraw, data) => {
      const App = () => {
        return React.createElement(
          React.Fragment,
          null,
          React.createElement(
            "div",
            {
              style: { height: "50vh" },
            },
            React.createElement(Excalidraw, {
              initialData: {
                elements,
                appState: {
                  ...data.appState,
                  viewModeEnabled: Boolean(viewModeEnabled==='true'),
                },
                scrollToContent: true,
              },
            })
          )
        );
      };

      const excalidrawWrapper = document.querySelector("." + file + " #app");

      excalidrawWrapper.addEventListener("wheel", e => {
        e.stopPropagation();
      });

      const root = ReactDOM.createRoot(excalidrawWrapper);
      root.render(React.createElement(App));
    };
  });
</script>
