---

---

  <div id="svgContainer"></div>

<style>
  #svgContainer {
    max-height: 100px;
    max-width: 100px;
    background-color: #000;
    margin: auto;
    cursor:zoom-in;
  }
</style>

<script type="module">
  import  "/assets/js/lt.min.js";
  /* Shapes */
  const svgContainer = document.getElementById("svgContainer");
  const animItem = bodymovin.loadAnimation({
    wrapper: svgContainer,
    animType: "svg",
    loop: true,
    path: "/assets/json/markus.json",
  });
</script>
