---
const res = await fetch("https://api.github.com/user", {
  method: "GET",
  headers: {
    Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
  },
});

const userInfo = await res.json();

---

<div>{userInfo.login}</div>
