# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ignore Jampack cache files
.jampack/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.obsidian
.vercel
build
pnpm-lock.yaml
src/content/obsidian/Excalidraw
src/content/obsidian/.*
target

*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
captures
.externalNativeBuild
.cxx
local.properties
key.properties

.tauri
tauri.settings.gradle
src-tauri/gen

.next