<script lang="ts">
  CSS.paintWorklet.addModule("/assets/cdn/checkerboard.js");
</script>

<style>
  .element {
    background-image: paint(checkerboard);
  }
</style>

<div>
  <div class="element"></div>
</div>
