---
---

<div
  id="parallax"
  class="ml-[-0.12ch] text-[clamp(20px,36px,600px)] xs:mb-[-0.15ch] bg-clip-text bg-[size:100%] leading-none text-transparent tracking-[-0.02em] mt-[-0.24ch] select-none"
  style='background-position-y: -150%; background-image: url("/assets/svg/ru02.svg");'
>
  <span>make blog great again!!</span><br />
  <span>别错过日落和夕阳</span><br />
    <span>无论在哪里啊</span><br />
</div>

<script>
  import gsap from "gsap";
  document.addEventListener("DOMContentLoaded", () => {
    import("gsap/ScrollTrigger").then(res => {
      const ScrollTrigger = res.default;
      gsap.registerPlugin(ScrollTrigger);
      gsap.to("#parallax", {
        backgroundPositionY: "0%",
        duration: 1,
        scrollTrigger: {
          trigger: "#parallax",
          start: "top bottom",
          end: "bottom top",
          scrub: true,
          // markers: true, // 可选：用于调试
        },
      });
    });
  });
</script>
