---
import CesiumComponent from "@components/react/little/CesiumComponent.tsx";
---

<html>
    <head>
    <title>cesium demo</title>
  </head>
<body>
    <CesiumComponent client:load/>
  </body>
</html>
