---
//@ts-ignore
import Bottle from "@components/react/p5/little/bottle.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D酒瓶贴图和文字</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      canvas,
      .p5_container {
        min-height: calc(100vh - 200px);
      }

      @font-face {
        font-family: "Xingcao";
        src: url("/assets/font/Xingcao.ttf") format("truetype");
      }

      .xing-cao,
      .xing-cao * {
        font-family: "Xingcao", "DM Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <Bottle client:visible />
  </body>
</html>
