---

---

<!doctype html>
<html>
  <head>
    <title>Excalidraw in browser</title>
    <meta charset="UTF-8" />
    <style>
      body {
        width: 100vw;
      }
      .container {
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        margin: 0;
        padding: 0;
      }
      .loading {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: grid;
        place-items: center;
        font-size: 5em;
        color: rosybrown;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div id="app"></div>
      <div class="loading">加载中...</div>
    </div>
  </body>
</html>

<script defer src="https://unpkg.com/react@18.2.0/umd/react.development.js"
></script>
<script
  defer
  src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"
></script>

<script
  defer
  type="text/javascript"
  src="https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw.development.js"
></script>

<script is:inline defer>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".loading").style.display = "none";
    let file = localStorage.getItem("excalidraw")||"ffmpeg";
    fetch(`/assets/excalidraw/${file}.json`).then(res => {
      res.json().then(data => {
        if (!data.elements) return;
        const elements = ExcalidrawLib.convertToExcalidrawElements(
          data.elements.filter(item => !item.isDeleted)
        );
        const App = () => {
          return React.createElement(
            React.Fragment,
            null,
            React.createElement(
              "div",
              {
                style: { height: "100vh" },
              },
              React.createElement(ExcalidrawLib.Excalidraw, {
                initialData: {
                  elements,
                  appState: {
                    ...data.appState,
                  },
                  scrollToContent: true,
                },
              })
            )
          );
        };

        const excalidrawWrapper = document.getElementById("app");
        const root = ReactDOM.createRoot(excalidrawWrapper);
        root.render(React.createElement(App));
      });
    });
  });
</script>
