---
import Footer from "@components/astro/UI/Footer.astro";
import Layout from "@layouts/Layout.astro";
import { SITE } from "@config";

import PlainCard from "@shadcn/card/PlainCard";
import { describe } from "node:test";

console.log(import.meta);

const fantasticList = [
  {
    name: "/fantastic/shadcn",
    describtion: "shadcn 组件示例",
  },
  {
    name: "/fantastic/news",
    describtion: "news template",
  },
  {
    name: "/fantastic/pureSwipper",
    describtion: "纯css动画swipper",
  },
  {
    name: "/fantastic/music",
    describtion: "音乐",
  },
  {
    name: "/fantastic/swipper",
    describtion: "新概念轮播图",
  },
  {
    name: "/fantastic/jobSearch",
    describtion: "多条件检索模版(招聘)",
  },
  {
    name: "/fantastic/editor",
    describtion: "编辑器",
  },
  {
    name: "/fantastic/lock",
    describtion: "锁屏",
  },
  {
    name:"ajn404.github.io/note",
    describtion:"笔记"
  },
  {
    name:"ajn404.github.io/log.github.io",
    describtion:"此地无银三百两"
  },
  {
    name:"ajn404.github.io/rengm/",
    describtion:"vuepress的使用边界"
  },
  {
    name:"code-reference.vercel.app",
    describtion:"vercel next dashboard crud demo"
  }
];
---

<Layout activeNav="fantastic" title={`Fantastic | ${SITE.title}`}>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    {
      fantasticList.map((item, index) => (
        <>
          <PlainCard title={item.name}>
            {item.describtion}
          </PlainCard>
        </>
      ))
    }
  </div>

  <Footer />
</Layout>
